<html>
	<head>
		<title>Astroknowme</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="container">

			<nav>
				<h1><b>Astroknowme</b></h1>
			</nav>

			<div>

				<div class="info">
					<h3><b>Sun Rise: {{ data.sunrise }}</b></h3> 
					<h3><b>Sun Set: {{ data.sunset }}</b></h3>
				</div>

				<div class="info">
					<h3><b>Solar Noon: {{ data.solar_noon }}</b></h3>
					<h3><b>Day Length:{{ data.day_length }}</b></h3>
				</div>

				<div class="info">
					<h3><b>Moon Rise: {{ data.moonrise }}</b></h3>
					<h3><b>Moon Set: {{ data.moonset }}</b></h3>
				</div>

				<div class="infoc">
					<h3><b>IP Address: {{ data.ip }}</b></h3>
				</div>

				<div class="info">
					<h3><b>Country: {{ data.country }}</b></h3>
					<h3><b>Sate: {{ data.state }}</b></h3>
				</div>

				<div class="info">
					<h3><b>City: {{ data.city }}</b></h3>
					<h3><b>District: {{ data.district }}</b></h3>
				</div>

				<div class="infoc">
					<h3><b>Date: {{ data.date }}</b></h3>
				</div>

			</div>

		</div>
	</body>
</html>
